@media(max-width:800px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
    .lesson-wrapper h2{
        font-size: 20px;
    }
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
    footer {
        text-align: center;
    }


}
@media(max-width:500) {
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .top-wrapper h1 {
        font-size: 24px;
        text-align: left;
    }
    .top-wrapper p {
        font-size: 14px;
        text-align: left;
    }
    .btn {
        width: 100%;
    }
    .facebook {
        margin-top: 10px;
    }
    .lesson {
        width: 100%;
    }
    .message {
        width: 100%;
    }

}
